/* Body */
body{
    background-image: url('../images/degradado_gobierno.png');
    background-repeat: repeat no-repeat;
    padding-top: 50px;

    @media (max-width: $screen-sm-min) {
      &{
        background-position: 0 -30px;
        padding-top: 0px;
      }
    }
}

/* Contenedor principal */
.caja{
  @media (min-width: $screen-sm-min) {
    &{
      padding: 0px $caja_espacio_costados;
    }
  }
}

/* Old browsers */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Label para combos */
.label-combo{
  margin-top: 7px;
}

/* Datos abiertos */
.datos-abiertos{
  padding: 25px 5px;

  p + p{
    margin-bottom: 5px;
  }

  a{
    color: $gray-dark;
    font-size: 0.9em;

    i{
      color: $mec_color_rojo;
    }
  }  
}

/* Botones y enlaces */
.enlace{
  cursor: pointer !important;

  &:hover{
    opacity: 0.8;
  }
}