@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'TodayShopBold';
  src: 	url('fonts/TodaySHOP-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('fonts/TodaySHOP-Bold.otf')  format('opentype'),
	    url('fonts/TodaySHOP-Bold.woff') format('woff'), 
     	url('fonts/TodaySHOP-Bold.ttf')  format('truetype'), 
     	url('fonts/TodaySHOP-Bold.svg#TodaySHOP-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DaxlinePro-Medium';
  src:  url('fonts/DaxlinePro-Medium.eot?#iefix') format('embedded-opentype'),  
        url('fonts/DaxlinePro-Medium.otf')  format('opentype'),
        url('fonts/DaxlinePro-Medium.woff') format('woff'), 
        url('fonts/DaxlinePro-Medium.ttf')  format('truetype'), 
        url('fonts/DaxlinePro-Medium.svg#DaxlinePro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: "OpenSansRegular","Helvetica Neue",​Helvetica,​Arial,​sans-serif;
}

h1{
	font-family: "TodayShopBold","Helvetica Neue",​Helvetica,​Arial,​sans-serif;
}

h2,h3,h4,h5,a{
  font-family: "DaxlinePro-Medium","Helvetica Neue",​Helvetica,​Arial,​sans-serif;
}