.sharrre {
  .box {
    background: $color_blanco;
    height: 22px;
    display: inline-block;
    position: relative;
    padding: 0px 55px 0 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    float: left;
    clear: both;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .left {
    line-height: 22px;
    display: block;
    white-space: nowrap;
    color: $mec_color_rojo;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .middle {
    position: absolute;
    height: 22px;
    top: 0px;
    right: 30px;
    width: 0px;
    background: $color_blanco;
    color: $mec_color_rojo;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    -webkit-box-shadow: (-1px) 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: (-1px) 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: (-1px) 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    transition: width 0.3s linear;
    a {
      color: $mec_color_rojo;
      font-weight: bold;
      padding: 0 9px 0 9px;
      text-align: center;
      float: left;
      line-height: 22px;
      -webkit-box-shadow: (-1px) 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
      -moz-box-shadow: (-1px) 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
      box-shadow: (-1px) 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;

      &:hover{
        background: $mec_color_rojo;
        i{
          color: $color_blanco;
        }
      }
    }
  }
  .right {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 45px;
    text-align: center;
    line-height: 22px;
    color: $color_blanco;
    background: $mec_color_gris;
  }
  .box:hover {
    padding-right: 130px;
  }
  .middle a:hover {
    text-decoration: none;
  }
  .box:hover .middle {
    width: 90px;
  }
}