/* Listados responsive */
$borde_listado_celda: 1px solid $table-border-color;

.listado{
  list-style: none;
  padding: 0 15px;
  border: $borde_listado_celda;

  li{
    border-bottom: $borde_listado_celda;

    &.titulos{
      font-family: "DaxlinePro-Medium","Helvetica Neue",​Helvetica,​Arial,​sans-serif !important;
      font-size: 1.3em;

      div{
        overflow-x: hidden;
      }
    }

    &:nth-child(2n){
      background: $table-bg-accent;
    }

    .celda{
      padding-top: 5px;
      padding-bottom: 5px;

      @media (min-width: $screen-sm-min) {
        margin: 0;
        height: 100%;
        border-right: $borde_listado_celda;
      }
    }

    label{
      color: $mec_color_azul_marino;
    }

    @media (max-width: $screen-sm-min) {

      label{
        margin-top: 15px;
      }

      .contador{
        float: left;
      }

    }

    .acciones{
      margin-top: 5px;

      a{
        line-height: 2.5em;
        font-size: 0.9em;
        white-space: nowrap;
        margin-right: 20px;

        i{
          font-size: 2em;
        }
      }

      @media (max-width: $screen-sm-min) {
        text-align: center;

        a{
          margin-right: 15px;
        }
      }

    }

  }

}

/* Tabla */
.table{

  thead{

    .orden{

      cursor: pointer;
      
      .descendente,.ascendente{
        display: none;
      }

      &.ascendente{
        .filtro{
          display: none;
        }
        .ascendente{
          display: inline-block;
        }
      }

      &.descendente{
        .filtro{
          display: none;
        }
        .descendente{
          display: inline-block;
        }
      }

    }

    .input-group{
      margin-top: 5px;

      input{
        border-right: none;
      }

      .input-group-addon{
        background: none;
        padding: 0 5px 0 0;
        cursor: pointer;
      }

    }

  }

  .acciones{

    a{
      white-space: nowrap;
    }

  }
  
}