/* Listados responsive */
.listado{
  .titulos{
    font-family: "DaxlinePro-Medium","Helvetica Neue",​Helvetica,​Arial,​sans-serif !important;
    font-size: 1.3em;

    div{
      overflow-x: hidden;
    }
  }

  label{
    color: $mec_color_azul_marino;
  }

  .acciones{
    margin-top: 5px;

    a{
      line-height: 2.5em;
      font-size: 0.9em;
      white-space: nowrap;
      margin-right: 20px;

      i{
        font-size: 2em;
      }
    }

  }
  
  @media (max-width: $screen-sm-min) {

    label{
      margin-top: 15px;
    }

    .contador{
      float: left;
    }

    .acciones{
      text-align: center;

      a{
        margin-right: 15px;
      }
      
    }

  }

}

/* Tabla */
.table{

  .acciones{

    a{
      white-space: nowrap;
    }

  }
  
}