/* Listados responsive */
.listado{
	a{
		line-height: 2.5em;
    font-size: 0.9em;
    white-space: nowrap;
    margin-right: 20px;

    i{
      font-size: 2em;
    }
	}

  .acciones{
    margin-top: 5px;
  }
  
  @media (max-width: $screen-sm-min) {

    a{
      margin-right: 15px;
    }

    .contador{
      float: left;
    }

    .acciones{
      text-align: center;
    }

  }

}

/* Tabla */
.table thead tr{
  background: #777;
  color: $color_blanco;

  td{
    border-top: none;
    border-bottom: none;

    .form-control {
        font-size: 0.9em;
        height: 30px;
        margin-top: -5px;
    }
  }
}