<h1>Mapa</h1>
<hr>

<div class="fondo-mapa">
	{{google-maps latitud="-25.279655" longitud="-57.6087641" simple="true"}}
	<div class="btn-toolbar" role="toolbar">
	  <div class="btn-group">
		{{#link-to 'datos.index' class="atras btn btn-primary"}}
			<i class="fa fa-arrow-left"></i> Volver
		{{/link-to}}
	  </div>
	</div>
</div>