<footer class="footer">
  <div class="row">
    <div class="col-sm-2 logo mec">
    </div>
    <div class="col-sm-7 col-sm-offset-1">
        <p class="text-center">
            {{#link-to 'aviso-legal'}}Aviso legal{{/link-to}} | {{#link-to 'acerca-de'}}Acerca de{{/link-to}}<br>
            <i class="fa fa-cc"></i> 2015 - Portal construido y mantenido por el <a href="http://mec.gov.py">MEC</a><br>
            con el apoyo del <a href="http://ceamso.org.py/es/proyectos/20-programa-de-democracia-y-gobernabilidad">Programa de Democracia y Gobernabilidad (USAID-CEAMSO)</a><br/>
        </p>
    </div>
    <div class="col-sm-2 logo gobierno">
    </div>
  </div>
</footer>