<header class="container">

  <div class="cabecera row">

    <div class="col-sm-3 col-xs-8 principal" onclick="Javascript:window.open('http://mec.gov.py','_self');">
      <div class="logo mec-letras-blancas"></div>
    </div>

    <div class="col-sm-offset-1 col-sm-4 hidden-xs logo datos-abiertos">
    </div>

    <div class="col-sm-offset-1 col-sm-3 hidden-xs logo gobierno">
    </div>

  </div>

  <!-- Navigation -->
  <nav class="navbar row navbar-principal">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-lg fa-bars"></span>
          </button>
          {{#link-to 'index' class="navbar-brand"}}
            Datos Abiertos
          {{/link-to}}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>{{#link-to 'datasets'}}Datasets{{/link-to}}</li>
            <li>{{#link-to 'visualizaciones'}}Visualizaciones{{/link-to}}</li>
            <li>{{#link-to 'acerca-de'}}Acerca de{{/link-to}}</li>
            <li>{{#link-to 'aviso-legal'}}Aviso legal{{/link-to}}</li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="links-sociales">
                <div class="fb-like" 
                  data-layout="button_count" 
                  data-action="like" 
                  data-show-faces="false" 
                  data-share="false">
                </div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="es">Twittear</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

</header>