<div class="container-fluid">
	<h1>Datos</h1>

	<div class="listado">
		<hr>
		{{#each dataset in model}}

			<div class="row">
				<span class="col-sm-1 text-right">{{dataset.id}}</span>
	    		<div class="col-sm-3">
					<span class="daxline">{{dataset.nombre}}</span><br>
					{{#link-to dataset.diccionario}}<i class="fa fa-lg fa-book"></i> Ver diccionario{{/link-to}}<br>
					{{#link-to dataset.datos}}<i class="fa fa-lg fa-database"></i> Ver datos{{/link-to}}<br>
				</div>
				<div class="col-sm-8">
					<p>{{dataset.descripcion}}</p>
				</div>
			</div>
		  	<hr>

		{{/each}}
	</div>
</div>